*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



img{
    width: 92px;
    height: 32px;
}

nav {
    background-color: #000000;
    
    display: flex;
    /* padding: 31px 60px; */
    /* padding: 1.1% 2%; */
    align-items: center;
    justify-content: space-between;
}
nav ul {
    margin-right: 20%;
    display: flex;
    gap: 60px;
}
nav ul li {
    color: #ffffff;
    padding: 15px;
    list-style: none;

    cursor: pointer;
    font-weight: 700;
   
}
.logo {
   padding: 1px 40px;
border-right: 1px solid #ffffff;
cursor: pointer;
}
.buy-btn {
    margin-right:25px ;
    padding: 7px 28px;
    background-color: #df0edfe8;
    color: #ffffff;
    border-radius: 6px;
    font-weight: 600;
    font-family: "Poppins";
    line-height: 24px;
    border: none;
    cursor: pointer;
}


.main-section{
   
    background-image: url("/html_Css_proj3_assignment/assets/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover ;
    background-attachment: fixed;
    height: 94vh;
    text-align: center;
  
}
.main-section-heading {
    margin: 0 auto;
    padding-top: 60px;
    text-align: center;
    color: #ffffff;
    max-width: 850px;
    font-style: normal;
    font-family: "Poppins";
    font-weight: 700;
    font-size: 80px;
    line-height: 100px;
}
.main-section-des{
    color: #ffffff;
    font-size: 30px;
    font-family: "Poppins";
    font-weight: 500;
}
.large-btn{
    background-color: #df0edfe8;
    border: none;
    color: #ffffff;
    font-family: "Poppins";
    font-weight:500;
    padding: 15px 22px;
    border-radius: 11px;
    line-height: 45px;
    margin-top: 60px;
    font-size: 30px;

}
